.arrow {
    margin-top: 80px;
    border: solid white;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
}

.arrow:hover {
    margin-top: 80px;
    border: solid deeppink;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media(max-width:500px) {
    .arrow {
        margin-top: 20px;
        border-width: 0 10px 10px 0;
        padding: 10px;
    }

    .arrow:hover{
        margin-top: 20px;
        border-width: 0 10px 10px 0;
        padding: 10px;
    }
}
